<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		
		<key>bb1_attack0.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{111, 131}, {96, 116}}</string>
			<key>spriteOffset</key>
			<string>{-1, -29}</string>
			<key>spriteSize</key>
			<string>{96, 116}</string>
			<key>spriteSourceSize</key>
			<string>{320, 320}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{196, 156}, {96, 116}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>bb1_attack1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{106, 94}, {102, 154}}</string>
			<key>spriteOffset</key>
			<string>{-3, -11}</string>
			<key>spriteSize</key>
			<string>{102, 154}</string>
			<key>spriteSourceSize</key>
			<string>{320, 320}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{176, 0}, {102, 154}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>bb1_attack2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{125, 117}, {82, 130}}</string>
			<key>spriteOffset</key>
			<string>{6, -22}</string>
			<key>spriteSize</key>
			<string>{82, 130}</string>
			<key>spriteSourceSize</key>
			<string>{320, 320}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{112, 156}, {82, 130}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>bb1_attack3.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{128, 137}, {174, 110}}</string>
			<key>spriteOffset</key>
			<string>{55, -32}</string>
			<key>spriteSize</key>
			<string>{174, 110}</string>
			<key>spriteSourceSize</key>
			<string>{320, 320}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 0}, {174, 110}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>bb1_attack4.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{126, 148}, {98, 100}}</string>
			<key>spriteOffset</key>
			<string>{15, -38}</string>
			<key>spriteSize</key>
			<string>{98, 100}</string>
			<key>spriteSourceSize</key>
			<string>{320, 320}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 216}, {98, 100}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>bb1_attack5.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{122, 145}, {110, 102}}</string>
			<key>spriteOffset</key>
			<string>{17, -36}</string>
			<key>spriteSize</key>
			<string>{110, 102}</string>
			<key>spriteSourceSize</key>
			<string>{320, 320}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 112}, {110, 102}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>bb1_attack6.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{124, 136}, {84, 112}}</string>
			<key>spriteOffset</key>
			<string>{6, -32}</string>
			<key>spriteSize</key>
			<string>{84, 112}</string>
			<key>spriteSourceSize</key>
			<string>{320, 320}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{196, 274}, {84, 112}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>bb1_attack7.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{111, 131}, {96, 116}}</string>
			<key>spriteOffset</key>
			<string>{-1, -29}</string>
			<key>spriteSize</key>
			<string>{96, 116}</string>
			<key>spriteSourceSize</key>
			<string>{320, 320}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{280, 0}, {96, 116}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
	</dict>
	<key>metadata</key>
	<dict>
		<key>version</key>
		<string>1.6.0</string>
		<key>format</key>
		<integer>3</integer>
		<key>size</key>
		<string>{512, 512}</string>
		<key>name</key>
		<string>Untitled</string>
		<key>target</key>
		<dict>
			<key>name</key>
			<string>default</string>
			<key>textureFileName</key>
			<string>bb1_attack</string>
			<key>textureFileExtension</key>
			<string>.png</string>
			<key>coordinatesFileName</key>
			<string>bb1_attack</string>
			<key>coordinatesFileExtension</key>
			<string>.plist</string>
			<key>premultipliedAlpha</key>
			<false/>
		</dict>
	</dict>
</dict>
</plist>