<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		
		<key>bb2_run0.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{80, 123}, {138, 118}}</string>
			<key>spriteOffset</key>
			<string>{-11, -22}</string>
			<key>spriteSize</key>
			<string>{138, 118}</string>
			<key>spriteSourceSize</key>
			<string>{320, 320}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{146, 0}, {138, 118}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>bb2_run1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{84, 125}, {128, 116}}</string>
			<key>spriteOffset</key>
			<string>{-12, -23}</string>
			<key>spriteSize</key>
			<string>{128, 116}</string>
			<key>spriteSourceSize</key>
			<string>{320, 320}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 118}, {128, 116}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>bb2_run2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{89, 122}, {118, 120}}</string>
			<key>spriteOffset</key>
			<string>{-12, -22}</string>
			<key>spriteSize</key>
			<string>{118, 120}</string>
			<key>spriteSourceSize</key>
			<string>{320, 320}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{286, 116}, {118, 120}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>bb2_run3.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{94, 121}, {110, 114}}</string>
			<key>spriteOffset</key>
			<string>{-11, -18}</string>
			<key>spriteSize</key>
			<string>{110, 114}</string>
			<key>spriteSourceSize</key>
			<string>{320, 320}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{130, 234}, {110, 114}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>bb2_run4.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{96, 122}, {108, 116}}</string>
			<key>spriteOffset</key>
			<string>{-10, -20}</string>
			<key>spriteSize</key>
			<string>{108, 116}</string>
			<key>spriteSourceSize</key>
			<string>{320, 320}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 236}, {108, 116}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>bb2_run5.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{91, 126}, {114, 112}}</string>
			<key>spriteOffset</key>
			<string>{-12, -22}</string>
			<key>spriteSize</key>
			<string>{114, 112}</string>
			<key>spriteSourceSize</key>
			<string>{320, 320}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{130, 120}, {114, 112}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>bb2_run6.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{82, 123}, {130, 114}}</string>
			<key>spriteOffset</key>
			<string>{-13, -20}</string>
			<key>spriteSize</key>
			<string>{130, 114}</string>
			<key>spriteSourceSize</key>
			<string>{320, 320}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{286, 0}, {130, 114}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>bb2_run7.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{74, 120}, {144, 116}}</string>
			<key>spriteOffset</key>
			<string>{-14, -18}</string>
			<key>spriteSize</key>
			<string>{144, 116}</string>
			<key>spriteSourceSize</key>
			<string>{320, 320}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 0}, {144, 116}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
	</dict>
	<key>metadata</key>
	<dict>
		<key>version</key>
		<string>1.6.0</string>
		<key>format</key>
		<integer>3</integer>
		<key>size</key>
		<string>{512, 512}</string>
		<key>name</key>
		<string>Untitled</string>
		<key>target</key>
		<dict>
			<key>name</key>
			<string>default</string>
			<key>textureFileName</key>
			<string>bb2_run</string>
			<key>textureFileExtension</key>
			<string>.png</string>
			<key>coordinatesFileName</key>
			<string>bb2_run</string>
			<key>coordinatesFileExtension</key>
			<string>.plist</string>
			<key>premultipliedAlpha</key>
			<false/>
		</dict>
	</dict>
</dict>
</plist>