<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		
		<key>bb3_attack0.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{127, 135}, {76, 112}}</string>
			<key>spriteOffset</key>
			<string>{5, -31}</string>
			<key>spriteSize</key>
			<string>{76, 112}</string>
			<key>spriteSourceSize</key>
			<string>{320, 320}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{158, 0}, {76, 112}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>bb3_attack1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{125, 103}, {92, 140}}</string>
			<key>spriteOffset</key>
			<string>{11, -13}</string>
			<key>spriteSize</key>
			<string>{92, 140}</string>
			<key>spriteSourceSize</key>
			<string>{320, 320}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{64, 0}, {92, 140}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>bb3_attack2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{110, 52}, {62, 168}}</string>
			<key>spriteOffset</key>
			<string>{-19, 24}</string>
			<key>spriteSize</key>
			<string>{62, 168}</string>
			<key>spriteSourceSize</key>
			<string>{320, 320}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{226, 114}, {62, 168}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>bb3_attack3.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{106, 69}, {72, 168}}</string>
			<key>spriteOffset</key>
			<string>{-18, 7}</string>
			<key>spriteSize</key>
			<string>{72, 168}</string>
			<key>spriteSourceSize</key>
			<string>{320, 320}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{122, 142}, {72, 168}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>bb3_attack4.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{127, 77}, {62, 170}}</string>
			<key>spriteOffset</key>
			<string>{-2, -2}</string>
			<key>spriteSize</key>
			<string>{62, 170}</string>
			<key>spriteSourceSize</key>
			<string>{320, 320}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 0}, {62, 170}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>bb3_attack5.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{130, 164}, {132, 84}}</string>
			<key>spriteOffset</key>
			<string>{36, -46}</string>
			<key>spriteSize</key>
			<string>{132, 84}</string>
			<key>spriteSourceSize</key>
			<string>{320, 320}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{92, 312}, {132, 84}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>bb3_attack6.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{128, 159}, {120, 88}}</string>
			<key>spriteOffset</key>
			<string>{28, -43}</string>
			<key>spriteSize</key>
			<string>{120, 88}</string>
			<key>spriteSourceSize</key>
			<string>{320, 320}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 172}, {120, 88}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>bb3_attack7.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{127, 140}, {90, 108}}</string>
			<key>spriteOffset</key>
			<string>{12, -34}</string>
			<key>spriteSize</key>
			<string>{90, 108}</string>
			<key>spriteSourceSize</key>
			<string>{320, 320}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 262}, {90, 108}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
	</dict>
	<key>metadata</key>
	<dict>
		<key>version</key>
		<string>1.6.0</string>
		<key>format</key>
		<integer>3</integer>
		<key>size</key>
		<string>{512, 512}</string>
		<key>name</key>
		<string>Untitled</string>
		<key>target</key>
		<dict>
			<key>name</key>
			<string>default</string>
			<key>textureFileName</key>
			<string>bb3_attack</string>
			<key>textureFileExtension</key>
			<string>.png</string>
			<key>coordinatesFileName</key>
			<string>bb3_attack</string>
			<key>coordinatesFileExtension</key>
			<string>.plist</string>
			<key>premultipliedAlpha</key>
			<false/>
		</dict>
	</dict>
</dict>
</plist>