<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		
		<key>bb4_run0.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{95, 121}, {132, 120}}</string>
			<key>spriteOffset</key>
			<string>{1, -21}</string>
			<key>spriteSize</key>
			<string>{132, 120}</string>
			<key>spriteSourceSize</key>
			<string>{320, 320}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 0}, {132, 120}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>bb4_run1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{132, 130}, {100, 110}}</string>
			<key>spriteOffset</key>
			<string>{22, -25}</string>
			<key>spriteSize</key>
			<string>{100, 110}</string>
			<key>spriteSourceSize</key>
			<string>{320, 320}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{214, 114}, {100, 110}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>bb4_run2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{123, 121}, {78, 120}}</string>
			<key>spriteOffset</key>
			<string>{2, -21}</string>
			<key>spriteSize</key>
			<string>{78, 120}</string>
			<key>spriteSourceSize</key>
			<string>{320, 320}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 122}, {78, 120}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>bb4_run3.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{106, 109}, {124, 106}}</string>
			<key>spriteOffset</key>
			<string>{8, -2}</string>
			<key>spriteSize</key>
			<string>{124, 106}</string>
			<key>spriteSourceSize</key>
			<string>{320, 320}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{316, 114}, {124, 106}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>bb4_run4.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{95, 121}, {132, 116}}</string>
			<key>spriteOffset</key>
			<string>{1, -19}</string>
			<key>spriteSize</key>
			<string>{132, 116}</string>
			<key>spriteSourceSize</key>
			<string>{320, 320}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{80, 122}, {132, 116}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>bb4_run5.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{133, 125}, {104, 112}}</string>
			<key>spriteOffset</key>
			<string>{25, -21}</string>
			<key>spriteSize</key>
			<string>{104, 112}</string>
			<key>spriteSourceSize</key>
			<string>{320, 320}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{214, 0}, {104, 112}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>bb4_run6.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{123, 122}, {78, 114}}</string>
			<key>spriteOffset</key>
			<string>{2, -19}</string>
			<key>spriteSize</key>
			<string>{78, 114}</string>
			<key>spriteSourceSize</key>
			<string>{320, 320}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{134, 0}, {78, 114}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>bb4_run7.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{105, 113}, {122, 102}}</string>
			<key>spriteOffset</key>
			<string>{6, -4}</string>
			<key>spriteSize</key>
			<string>{122, 102}</string>
			<key>spriteSourceSize</key>
			<string>{320, 320}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{320, 0}, {122, 102}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
	</dict>
	<key>metadata</key>
	<dict>
		<key>version</key>
		<string>1.6.0</string>
		<key>format</key>
		<integer>3</integer>
		<key>size</key>
		<string>{512, 256}</string>
		<key>name</key>
		<string>Untitled</string>
		<key>target</key>
		<dict>
			<key>name</key>
			<string>default</string>
			<key>textureFileName</key>
			<string>bb4_run</string>
			<key>textureFileExtension</key>
			<string>.png</string>
			<key>coordinatesFileName</key>
			<string>bb4_run</string>
			<key>coordinatesFileExtension</key>
			<string>.plist</string>
			<key>premultipliedAlpha</key>
			<false/>
		</dict>
	</dict>
</dict>
</plist>