<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		
		<key>bb4_attack0.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{121, 122}, {96, 122}}</string>
			<key>spriteOffset</key>
			<string>{9, -23}</string>
			<key>spriteSize</key>
			<string>{96, 122}</string>
			<key>spriteSourceSize</key>
			<string>{320, 320}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 298}, {96, 122}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>bb4_attack1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{95, 125}, {110, 120}}</string>
			<key>spriteOffset</key>
			<string>{-10, -25}</string>
			<key>spriteSize</key>
			<string>{110, 120}</string>
			<key>spriteSourceSize</key>
			<string>{320, 320}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{176, 0}, {110, 120}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>bb4_attack2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{64, 121}, {140, 124}}</string>
			<key>spriteOffset</key>
			<string>{-26, -23}</string>
			<key>spriteSize</key>
			<string>{140, 124}</string>
			<key>spriteSourceSize</key>
			<string>{320, 320}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{156, 212}, {140, 124}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>bb4_attack3.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{127, 146}, {172, 98}}</string>
			<key>spriteOffset</key>
			<string>{53, -35}</string>
			<key>spriteSize</key>
			<string>{172, 98}</string>
			<key>spriteSourceSize</key>
			<string>{320, 320}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 104}, {172, 98}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>bb4_attack4.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{127, 143}, {174, 102}}</string>
			<key>spriteOffset</key>
			<string>{54, -34}</string>
			<key>spriteSize</key>
			<string>{174, 102}</string>
			<key>spriteSourceSize</key>
			<string>{320, 320}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 0}, {174, 102}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>bb4_attack5.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{127, 157}, {172, 88}}</string>
			<key>spriteOffset</key>
			<string>{53, -41}</string>
			<key>spriteSize</key>
			<string>{172, 88}</string>
			<key>spriteSourceSize</key>
			<string>{320, 320}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{174, 122}, {172, 88}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>bb4_attack6.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{127, 152}, {154, 92}}</string>
			<key>spriteOffset</key>
			<string>{44, -38}</string>
			<key>spriteSize</key>
			<string>{154, 92}</string>
			<key>spriteSourceSize</key>
			<string>{320, 320}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 204}, {154, 92}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>bb4_attack7.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{124, 134}, {118, 110}}</string>
			<key>spriteOffset</key>
			<string>{23, -29}</string>
			<key>spriteSize</key>
			<string>{118, 110}</string>
			<key>spriteSourceSize</key>
			<string>{320, 320}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{288, 0}, {118, 110}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
	</dict>
	<key>metadata</key>
	<dict>
		<key>version</key>
		<string>1.6.0</string>
		<key>format</key>
		<integer>3</integer>
		<key>size</key>
		<string>{512, 512}</string>
		<key>name</key>
		<string>Untitled</string>
		<key>target</key>
		<dict>
			<key>name</key>
			<string>default</string>
			<key>textureFileName</key>
			<string>bb4_attack</string>
			<key>textureFileExtension</key>
			<string>.png</string>
			<key>coordinatesFileName</key>
			<string>bb4_attack</string>
			<key>coordinatesFileExtension</key>
			<string>.plist</string>
			<key>premultipliedAlpha</key>
			<false/>
		</dict>
	</dict>
</dict>
</plist>