<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>sunnuban_attack0.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{101, 92}, {190, 148}}</string>
			<key>spriteOffset</key>
			<string>{36, -6}</string>
			<key>spriteSize</key>
			<string>{190, 148}</string>
			<key>spriteSourceSize</key>
			<string>{320, 320}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{208, 158}, {190, 148}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>sunnuban_attack1.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{101, 92}, {162, 148}}</string>
			<key>spriteOffset</key>
			<string>{22, -6}</string>
			<key>spriteSize</key>
			<string>{162, 148}</string>
			<key>spriteSourceSize</key>
			<string>{320, 320}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{256, 0}, {162, 148}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>sunnuban_attack2.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{103, 93}, {144, 148}}</string>
			<key>spriteOffset</key>
			<string>{15, -7}</string>
			<key>spriteSize</key>
			<string>{144, 148}</string>
			<key>spriteSourceSize</key>
			<string>{320, 320}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{322, 308}, {144, 148}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>sunnuban_attack3.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{105, 93}, {196, 148}}</string>
			<key>spriteOffset</key>
			<string>{43, -7}</string>
			<key>spriteSize</key>
			<string>{196, 148}</string>
			<key>spriteSourceSize</key>
			<string>{320, 320}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{124, 318}, {196, 148}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>sunnuban_attack4.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{101, 85}, {206, 156}}</string>
			<key>spriteOffset</key>
			<string>{44, -3}</string>
			<key>spriteSize</key>
			<string>{206, 156}</string>
			<key>spriteSourceSize</key>
			<string>{320, 320}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 160}, {206, 156}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>sunnuban_attack5.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{105, 83}, {128, 158}}</string>
			<key>spriteOffset</key>
			<string>{9, -2}</string>
			<key>spriteSize</key>
			<string>{128, 158}</string>
			<key>spriteSourceSize</key>
			<string>{320, 320}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 0}, {128, 158}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>sunnuban_attack6.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{110, 84}, {124, 156}}</string>
			<key>spriteOffset</key>
			<string>{12, -2}</string>
			<key>spriteSize</key>
			<string>{124, 156}</string>
			<key>spriteSourceSize</key>
			<string>{320, 320}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{130, 0}, {124, 156}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>sunnuban_attack7.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{109, 89}, {122, 150}}</string>
			<key>spriteOffset</key>
			<string>{10, -4}</string>
			<key>spriteSize</key>
			<string>{122, 150}</string>
			<key>spriteSourceSize</key>
			<string>{320, 320}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 318}, {122, 150}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>version</key>
		<string>1.6.0</string>
		<key>format</key>
		<integer>3</integer>
		<key>size</key>
		<string>{1024, 512}</string>
		<key>name</key>
		<string>Untitled</string>
		<key>textureFileName</key>
		<string>sunnuban_attack.png</string>
		<key>premultipliedAlpha</key>
		<false/>
	</dict>
</dict>
</plist>
