<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>sunshangxiang_spell2_0.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{119, 119}, {82, 122}}</string>
			<key>spriteOffset</key>
			<string>{0, -20}</string>
			<key>spriteSize</key>
			<string>{82, 122}</string>
			<key>spriteSourceSize</key>
			<string>{320, 320}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{382, 148}, {82, 122}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>sunshangxiang_spell2_1.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{131, 103}, {74, 138}}</string>
			<key>spriteOffset</key>
			<string>{8, -12}</string>
			<key>spriteSize</key>
			<string>{74, 138}</string>
			<key>spriteSourceSize</key>
			<string>{320, 320}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{380, 272}, {74, 138}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>sunshangxiang_spell2_2.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{109, 97}, {104, 146}}</string>
			<key>spriteOffset</key>
			<string>{1, -10}</string>
			<key>spriteSize</key>
			<string>{104, 146}</string>
			<key>spriteSourceSize</key>
			<string>{320, 320}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{382, 0}, {104, 146}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>sunshangxiang_spell2_3.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{99, 49}, {136, 194}}</string>
			<key>spriteOffset</key>
			<string>{7, 14}</string>
			<key>spriteSize</key>
			<string>{136, 194}</string>
			<key>spriteSourceSize</key>
			<string>{320, 320}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 310}, {136, 194}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>sunshangxiang_spell2_4.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{92, 48}, {148, 194}}</string>
			<key>spriteOffset</key>
			<string>{6, 15}</string>
			<key>spriteSize</key>
			<string>{148, 194}</string>
			<key>spriteSourceSize</key>
			<string>{320, 320}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{356, 412}, {148, 194}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>sunshangxiang_spell2_5.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{79, 49}, {174, 204}}</string>
			<key>spriteOffset</key>
			<string>{6, 9}</string>
			<key>spriteSize</key>
			<string>{174, 204}</string>
			<key>spriteSourceSize</key>
			<string>{320, 320}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{180, 290}, {174, 204}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>sunshangxiang_spell2_6.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{72, 73}, {190, 180}}</string>
			<key>spriteOffset</key>
			<string>{7, -3}</string>
			<key>spriteSize</key>
			<string>{190, 180}</string>
			<key>spriteSourceSize</key>
			<string>{320, 320}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 0}, {190, 180}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>sunshangxiang_spell2_7.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{72, 98}, {188, 154}}</string>
			<key>spriteOffset</key>
			<string>{6, -15}</string>
			<key>spriteSize</key>
			<string>{188, 154}</string>
			<key>spriteSourceSize</key>
			<string>{320, 320}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{192, 0}, {188, 154}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>sunshangxiang_spell2_8.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{74, 118}, {186, 132}}</string>
			<key>spriteOffset</key>
			<string>{7, -24}</string>
			<key>spriteSize</key>
			<string>{186, 132}</string>
			<key>spriteSourceSize</key>
			<string>{320, 320}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{192, 156}, {186, 132}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>sunshangxiang_spell2_9.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{76, 124}, {178, 126}}</string>
			<key>spriteOffset</key>
			<string>{5, -27}</string>
			<key>spriteSize</key>
			<string>{178, 126}</string>
			<key>spriteSourceSize</key>
			<string>{320, 320}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 182}, {178, 126}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>version</key>
		<string>1.6.0</string>
		<key>format</key>
		<integer>3</integer>
		<key>size</key>
		<string>{512, 1024}</string>
		<key>name</key>
		<string>Untitled</string>
		<key>target</key>
		<dict>
			<key>name</key>
			<string>default</string>
			<key>textureFileName</key>
			<string>sunshangxiang_spell2</string>
			<key>textureFileExtension</key>
			<string>.png</string>
			<key>coordinatesFileName</key>
			<string>sunshangxiang_spell2</string>
			<key>coordinatesFileExtension</key>
			<string>.plist</string>
			<key>premultipliedAlpha</key>
			<false/>
		</dict>
	</dict>
</dict>
</plist>
