<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>huangzhong_spell3_0.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{83, 137}, {166, 122}}</string>
			<key>spriteOffset</key>
			<string>{6, -38}</string>
			<key>spriteSize</key>
			<string>{166, 122}</string>
			<key>spriteSourceSize</key>
			<string>{320, 320}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{220, 598}, {166, 122}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>huangzhong_spell3_1.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{71, 138}, {184, 122}}</string>
			<key>spriteOffset</key>
			<string>{3, -39}</string>
			<key>spriteSize</key>
			<string>{184, 122}</string>
			<key>spriteSourceSize</key>
			<string>{320, 320}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{472, 192}, {184, 122}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>huangzhong_spell3_10.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{37, 72}, {228, 170}}</string>
			<key>spriteOffset</key>
			<string>{-9, 3}</string>
			<key>spriteSize</key>
			<string>{228, 170}</string>
			<key>spriteSourceSize</key>
			<string>{320, 320}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{668, 172}, {228, 170}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>huangzhong_spell3_11.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{29, 92}, {236, 148}}</string>
			<key>spriteOffset</key>
			<string>{-13, -6}</string>
			<key>spriteSize</key>
			<string>{236, 148}</string>
			<key>spriteSourceSize</key>
			<string>{320, 320}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{458, 388}, {236, 148}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>huangzhong_spell3_12.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{28, 48}, {260, 206}}</string>
			<key>spriteOffset</key>
			<string>{-2, 9}</string>
			<key>spriteSize</key>
			<string>{260, 206}</string>
			<key>spriteSourceSize</key>
			<string>{320, 320}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 0}, {260, 206}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>huangzhong_spell3_13.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{55, 45}, {230, 214}}</string>
			<key>spriteOffset</key>
			<string>{10, 8}</string>
			<key>spriteSize</key>
			<string>{230, 214}</string>
			<key>spriteSourceSize</key>
			<string>{320, 320}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 208}, {230, 214}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>huangzhong_spell3_2.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{64, 51}, {196, 190}}</string>
			<key>spriteOffset</key>
			<string>{2, 14}</string>
			<key>spriteSize</key>
			<string>{196, 190}</string>
			<key>spriteSourceSize</key>
			<string>{320, 320}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{470, 0}, {196, 190}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>huangzhong_spell3_3.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{55, 52}, {206, 190}}</string>
			<key>spriteOffset</key>
			<string>{-2, 13}</string>
			<key>spriteSize</key>
			<string>{206, 190}</string>
			<key>spriteSourceSize</key>
			<string>{320, 320}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{262, 0}, {206, 190}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>huangzhong_spell3_4.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{43, 71}, {222, 170}}</string>
			<key>spriteOffset</key>
			<string>{-6, 4}</string>
			<key>spriteSize</key>
			<string>{222, 170}</string>
			<key>spriteSourceSize</key>
			<string>{320, 320}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{458, 538}, {222, 170}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>huangzhong_spell3_5.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{45, 61}, {224, 180}}</string>
			<key>spriteOffset</key>
			<string>{-3, 9}</string>
			<key>spriteSize</key>
			<string>{224, 180}</string>
			<key>spriteSourceSize</key>
			<string>{320, 320}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{232, 388}, {224, 180}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>huangzhong_spell3_6.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{33, 76}, {228, 170}}</string>
			<key>spriteOffset</key>
			<string>{-13, -1}</string>
			<key>spriteSize</key>
			<string>{228, 170}</string>
			<key>spriteSourceSize</key>
			<string>{320, 320}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{668, 0}, {228, 170}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>huangzhong_spell3_7.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{47, 75}, {218, 166}}</string>
			<key>spriteOffset</key>
			<string>{-4, 2}</string>
			<key>spriteSize</key>
			<string>{218, 166}</string>
			<key>spriteSourceSize</key>
			<string>{320, 320}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 598}, {218, 166}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>huangzhong_spell3_8.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{37, 69}, {238, 178}}</string>
			<key>spriteOffset</key>
			<string>{-4, 2}</string>
			<key>spriteSize</key>
			<string>{238, 178}</string>
			<key>spriteSourceSize</key>
			<string>{320, 320}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{232, 208}, {238, 178}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>huangzhong_spell3_9.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{37, 69}, {230, 172}}</string>
			<key>spriteOffset</key>
			<string>{-8, 5}</string>
			<key>spriteSize</key>
			<string>{230, 172}</string>
			<key>spriteSourceSize</key>
			<string>{320, 320}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 424}, {230, 172}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>version</key>
		<string>1.6.0</string>
		<key>format</key>
		<integer>3</integer>
		<key>size</key>
		<string>{1024, 1024}</string>
		<key>name</key>
		<string>Untitled</string>
		<key>textureFileName</key>
		<string>huangzhong_spell3.png</string>
		<key>premultipliedAlpha</key>
		<false/>
	</dict>
</dict>
</plist>
