<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		
		<key>attack_normal.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {118, 117}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{118, 117}</string>
			<key>spriteSourceSize</key>
			<string>{118, 117}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 0}, {118, 117}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>attack_pressed.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {86, 88}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{86, 88}</string>
			<key>spriteSourceSize</key>
			<string>{86, 88}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 119}, {86, 88}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>spell_circle.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {79, 78}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{79, 78}</string>
			<key>spriteSourceSize</key>
			<string>{79, 78}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{88, 119}, {79, 78}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>spells_icon1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {50, 50}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{50, 50}</string>
			<key>spriteSourceSize</key>
			<string>{50, 50}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{169, 104}, {50, 50}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>spells_icon10.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {50, 50}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{50, 50}</string>
			<key>spriteSourceSize</key>
			<string>{50, 50}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{224, 52}, {50, 50}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>spells_icon11.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {50, 50}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{50, 50}</string>
			<key>spriteSourceSize</key>
			<string>{50, 50}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{172, 0}, {50, 50}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>spells_icon12.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {50, 50}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{50, 50}</string>
			<key>spriteSourceSize</key>
			<string>{50, 50}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{120, 52}, {50, 50}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>spells_icon13.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {50, 50}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{50, 50}</string>
			<key>spriteSourceSize</key>
			<string>{50, 50}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{120, 0}, {50, 50}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>spells_icon14.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {50, 50}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{50, 50}</string>
			<key>spriteSourceSize</key>
			<string>{50, 50}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{244, 156}, {50, 50}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>spells_icon15.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {50, 50}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{50, 50}</string>
			<key>spriteSourceSize</key>
			<string>{50, 50}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{224, 0}, {50, 50}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>spells_icon16.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {50, 50}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{50, 50}</string>
			<key>spriteSourceSize</key>
			<string>{50, 50}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{88, 199}, {50, 50}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>spells_icon17.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {50, 50}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{50, 50}</string>
			<key>spriteSourceSize</key>
			<string>{50, 50}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{192, 156}, {50, 50}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>spells_icon18.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {50, 50}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{50, 50}</string>
			<key>spriteSourceSize</key>
			<string>{50, 50}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{296, 156}, {50, 50}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>spells_icon19.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {50, 50}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{50, 50}</string>
			<key>spriteSourceSize</key>
			<string>{50, 50}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{221, 104}, {50, 50}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>spells_icon2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {50, 49}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{50, 49}</string>
			<key>spriteSourceSize</key>
			<string>{50, 49}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{377, 104}, {50, 49}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>spells_icon20.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {50, 50}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{50, 50}</string>
			<key>spriteSourceSize</key>
			<string>{50, 50}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{328, 0}, {50, 50}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>spells_icon21.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {50, 50}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{50, 50}</string>
			<key>spriteSourceSize</key>
			<string>{50, 50}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{276, 52}, {50, 50}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>spells_icon3.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {50, 50}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{50, 50}</string>
			<key>spriteSourceSize</key>
			<string>{50, 50}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{325, 104}, {50, 50}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>spells_icon4.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {50, 50}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{50, 50}</string>
			<key>spriteSourceSize</key>
			<string>{50, 50}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{273, 104}, {50, 50}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>spells_icon5.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {50, 50}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{50, 50}</string>
			<key>spriteSourceSize</key>
			<string>{50, 50}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{276, 0}, {50, 50}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>spells_icon6.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {50, 50}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{50, 50}</string>
			<key>spriteSourceSize</key>
			<string>{50, 50}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{328, 52}, {50, 50}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>spells_icon7.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {50, 50}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{50, 50}</string>
			<key>spriteSourceSize</key>
			<string>{50, 50}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{140, 199}, {50, 50}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>spells_icon8.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {50, 50}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{50, 50}</string>
			<key>spriteSourceSize</key>
			<string>{50, 50}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{348, 156}, {50, 50}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>spells_icon9.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {50, 50}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{50, 50}</string>
			<key>spriteSourceSize</key>
			<string>{50, 50}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{172, 52}, {50, 50}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
	</dict>
	<key>metadata</key>
	<dict>
		<key>version</key>
		<string>1.6.0</string>
		<key>format</key>
		<integer>3</integer>
		<key>size</key>
		<string>{512, 256}</string>
		<key>name</key>
		<string>Untitled</string>
		<key>target</key>
		<dict>
			<key>name</key>
			<string>default</string>
			<key>textureFileName</key>
			<string>spells_icon</string>
			<key>textureFileExtension</key>
			<string>.png</string>
			<key>coordinatesFileName</key>
			<string>spells_icon</string>
			<key>coordinatesFileExtension</key>
			<string>.plist</string>
			<key>premultipliedAlpha</key>
			<false/>
		</dict>
	</dict>
</dict>
</plist>