<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>xiaoqiao_spell1_0.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{71, 112}, {130, 130}}</string>
			<key>spriteOffset</key>
			<string>{-24, -17}</string>
			<key>spriteSize</key>
			<string>{130, 130}</string>
			<key>spriteSourceSize</key>
			<string>{320, 320}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{188, 176}, {130, 130}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>xiaoqiao_spell1_1.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{67, 105}, {136, 136}}</string>
			<key>spriteOffset</key>
			<string>{-25, -13}</string>
			<key>spriteSize</key>
			<string>{136, 136}</string>
			<key>spriteSourceSize</key>
			<string>{320, 320}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{182, 344}, {136, 136}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>xiaoqiao_spell1_2.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{60, 91}, {180, 146}}</string>
			<key>spriteOffset</key>
			<string>{-10, -4}</string>
			<key>spriteSize</key>
			<string>{180, 146}</string>
			<key>spriteSourceSize</key>
			<string>{320, 320}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 344}, {180, 146}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>xiaoqiao_spell1_3.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{105, 67}, {186, 170}}</string>
			<key>spriteOffset</key>
			<string>{38, 8}</string>
			<key>spriteSize</key>
			<string>{186, 170}</string>
			<key>spriteSourceSize</key>
			<string>{320, 320}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 172}, {186, 170}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>xiaoqiao_spell1_4.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{107, 63}, {194, 174}}</string>
			<key>spriteOffset</key>
			<string>{44, 10}</string>
			<key>spriteSize</key>
			<string>{194, 174}</string>
			<key>spriteSourceSize</key>
			<string>{320, 320}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{232, 0}, {194, 174}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>xiaoqiao_spell1_5.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{67, 76}, {230, 170}}</string>
			<key>spriteOffset</key>
			<string>{22, -1}</string>
			<key>spriteSize</key>
			<string>{230, 170}</string>
			<key>spriteSourceSize</key>
			<string>{320, 320}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 0}, {230, 170}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>version</key>
		<string>1.6.0</string>
		<key>format</key>
		<integer>3</integer>
		<key>size</key>
		<string>{512, 512}</string>
		<key>name</key>
		<string>Untitled</string>
		<key>target</key>
		<dict>
			<key>name</key>
			<string>default</string>
			<key>textureFileName</key>
			<string>xiaoqiao_spell1</string>
			<key>textureFileExtension</key>
			<string>.png</string>
			<key>coordinatesFileName</key>
			<string>xiaoqiao_spell1</string>
			<key>coordinatesFileExtension</key>
			<string>.plist</string>
			<key>premultipliedAlpha</key>
			<false/>
		</dict>
	</dict>
</dict>
</plist>
