<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>xiaoqiao_spell2_0.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{70, 117}, {138, 132}}</string>
			<key>spriteOffset</key>
			<string>{-21, -23}</string>
			<key>spriteSize</key>
			<string>{138, 132}</string>
			<key>spriteSourceSize</key>
			<string>{320, 320}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 576}, {138, 132}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>xiaoqiao_spell2_1.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{72, 100}, {182, 146}}</string>
			<key>spriteOffset</key>
			<string>{3, -13}</string>
			<key>spriteSize</key>
			<string>{182, 146}</string>
			<key>spriteSourceSize</key>
			<string>{320, 320}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{214, 566}, {182, 146}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>xiaoqiao_spell2_2.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{73, 77}, {176, 168}}</string>
			<key>spriteOffset</key>
			<string>{1, -1}</string>
			<key>spriteSize</key>
			<string>{176, 168}</string>
			<key>spriteSourceSize</key>
			<string>{320, 320}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{214, 396}, {176, 168}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>xiaoqiao_spell2_3.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{43, 66}, {212, 180}}</string>
			<key>spriteOffset</key>
			<string>{-11, 4}</string>
			<key>spriteSize</key>
			<string>{212, 180}</string>
			<key>spriteSourceSize</key>
			<string>{320, 320}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 394}, {212, 180}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>xiaoqiao_spell2_4.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{27, 59}, {220, 186}}</string>
			<key>spriteOffset</key>
			<string>{-23, 8}</string>
			<key>spriteSize</key>
			<string>{220, 186}</string>
			<key>spriteSourceSize</key>
			<string>{320, 320}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{288, 208}, {220, 186}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>xiaoqiao_spell2_5.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{20, 62}, {286, 208}}</string>
			<key>spriteOffset</key>
			<string>{3, -6}</string>
			<key>spriteSize</key>
			<string>{286, 208}</string>
			<key>spriteSourceSize</key>
			<string>{320, 320}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 0}, {286, 208}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>xiaoqiao_spell2_6.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{88, 64}, {218, 206}}</string>
			<key>spriteOffset</key>
			<string>{37, -7}</string>
			<key>spriteSize</key>
			<string>{218, 206}</string>
			<key>spriteSourceSize</key>
			<string>{320, 320}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{288, 0}, {218, 206}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>xiaoqiao_spell2_7.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{84, 89}, {220, 182}}</string>
			<key>spriteOffset</key>
			<string>{34, -20}</string>
			<key>spriteSize</key>
			<string>{220, 182}</string>
			<key>spriteSourceSize</key>
			<string>{320, 320}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 210}, {220, 182}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>version</key>
		<string>1.6.0</string>
		<key>format</key>
		<integer>3</integer>
		<key>size</key>
		<string>{512, 1024}</string>
		<key>name</key>
		<string>Untitled</string>
		<key>target</key>
		<dict>
			<key>name</key>
			<string>default</string>
			<key>textureFileName</key>
			<string>xiaoqiao_spell2</string>
			<key>textureFileExtension</key>
			<string>.png</string>
			<key>coordinatesFileName</key>
			<string>xiaoqiao_spell2</string>
			<key>coordinatesFileExtension</key>
			<string>.plist</string>
			<key>premultipliedAlpha</key>
			<false/>
		</dict>
	</dict>
</dict>
</plist>
